ul.main-nv  li {
	list-style:none;
}
ul.main-nv > li > a{
	color:#fff;
}

.collapse-main-nv img{
	height:20px;
	width:auto;

}
.off-canvas-extra,
.off-canvas-extra p {
	padding:15px;
	color:#eee;
	font-size:0.95rem;
}
.main-nv-overlay{
	position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    z-index: 900;
    background: rgba(255, 255, 255, 0.5);
    width: 100%;
}
