@import '../../../Layout/variables.scss';

#question-form-container {
	position: fixed; /* Sit on top of the page content */
	width: 100%; /* Full width (cover the whole page) */
	height: 100%; /* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $geobg;
	z-index: 2000; /* Specify a stack order in case you're using a different order for other elements */
	-webkit-transition: opacity .1s ease-in-out;
    -moz-transition: opacity .1s ease-in-out;
    -ms-transition: opacity .1s ease-in-out;
    -o-transition: opacity .1s ease-in-out;
     opacity: 1;
     display: block;
     z-index: 9999;
}
#question-form-container.hidden {
	display: none;
	opacity: 0;
}

.qaform{
	margin-top:10%;
	padding:30px;
	border:10px solid #ddd;
	border-radius:10px;
	-moz-border-radius:10px;
	background:#fff;
	-webkit-box-shadow: 2px 2px 50px 0 #525252;
	box-shadow: 2px 2px 50px 0 #525252;
	position:relative;
	z-index: 9999;
}
.form-control{
	font-family: 'Jura', sans-serif;
}
.question-form-result{
	font-family: 'Jura', sans-serif;
	font-size:1.2rem;
	margin-bottom:30px;
}

.answer-success {
	-webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -ms-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
     opacity: 1;

}
.answer-success.hidden {
	opacity: 0;
	height: 0px;
}

.category-unlock-message {
	background: #eb6864;
	color: #5f2d2d;
    width: 350px;
    margin: 0;
    position:relative;
    display:block;
    margin:100px auto;
    padding:15px;
    font-size:0.8em;
    text-align: center;
}
.unlocked-close{
	display:block;
	margin:15px auto;
	background:#5f2d2d;
	padding:10px;
	cursor: pointer;
	color:#fff;
	border-radius:100px;
}
.unlocked-close:hover{
	opacity:0.7;	
}
.category-unlock-message h3,
.category-unlock-message h4{
	color:#fff;
}

.unlocked-category{
	display:block;
	width:100%;
	position: absolute;
	top:0;
	left:0;
	height:98vh;
	z-index:99999;
	background:url('https://bespeek-react-assets.s3-us-west-2.amazonaws.com/confetti.gif');
}