.answersholder{
	margin-bottom:30px;
	border-top:5px solid #ddd;
	padding-top:0;
}
.eachquestion{
	border-bottom:1px solid #ddd;
	padding:15px;
}

.sponsorlogo{
	display:block;
	position:relative;
	height:130px;
}
.sponsorlogo > img{
	position: absolute;
	right:0;
	top:0;
	display:block;
	max-height:100px;
	
}
.sponsorwrap,
.sponsorwrap h3,
.sponsorwrap .sponsor-info.name {
	text-align:right;
	font-size:0.95em;
}

.user-full-name{
	margin:15px 0 0 30px;
}
.user-info.email{
	margin:0 0 0 30px;
}