.flexthird{
	width:29%;

}
.button-color.flexrow{
	justify-content: space-around;
	margin-bottom:60px;
}
.widget-location{
	margin-top:30px;
}
.embed-code{
	display:block;
	margin:30px auto 60px;
	font-weight:700;
	color:#f00;
	text-align: center;
	padding:15px;
	background: #f4f4f4;
	font-size: 18px;
}
.sponsees{
	background:#fff;
	padding:30px 15px;
	
}
.sponsees h3{
	margin-bottom:30px;
}
.sponsee-container{
	display: flex;
	flex-wrap: nowrap;
	font-size:14px;
	font-color:#333;
	border-bottom:1px solid #ddd;
	
}

.company-info-col {
    flex-basis: 50%;
    padding-left: 60px;
    color: #333;
    font-size: 18px;
}
.name.spcol{
	width:20%;
}
.email.spcol{
	width:30%;
}
           
.answered.spcol,
.connections.spcol,
.created_at.spcol{
	width:15%;
}
.embed-section-wrapper{
	height: 0;
	overflow: hidden;
		transition: 1500ms;
	&.show {
		transition: 1500ms;
		height: 900px;
	}
}

.codesnippet{
	font-weight:700;
	color: #eee;
	padding:3px;
	background:#555;
	border:1px solid #222;
	margin:0 10px;
}
