.user-list{
	margin-bottom:30px;
	border-left:12px solid #ddd;
	padding-left:30px;
	font-size:.8em;
	border-bottom:1px solid #ddd;
	padding:15px;
	border-radius:20px;
	background:#fff;
}
.user-list.deactivated{
	opacity:0.6;
	background:#eee;
}
.user-list.deactivated:hover{
	opacity:1;
	background:#eee;
}
.user-list-row{
	display: flex;
}
.user-meta-wrapper{
	flex-basis: 70%;
}
.user-meta-wrapper span{
	font-weight:700;
	font-size:1em;
	padding:2px 8px;
	margin-right:10px;
}
.button-wrapper{
	flex-basis: 30%;
}
.button-wrapper button{
	
}
.button-wrapper{
	
	
}
.user-type{
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0;
    color: #fff;
    margin-bottom:7px;
    font-size: 0.875rem;
}
.user-type.partner{
	background-color: #6fa21d;
    border:1px solid #6fa21d;
}
.user-type.member{
	 background-color: #1d6ba2;
    border:1px solid #1d6ba2;
}
.lastlogin{
	font-size:0.7em;
}