
@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
/* OUR GOOGLE FONTS */
/*
font-family: 'Jura', sans-serif;   (for content)
font-family: 'Rubik', cursive;  (for headers)
*/

.mainwrapper {
    background: #F7F0E9;
    font-family: 'Jura', sans-serif;
    font-size: 24px;
    color: #212529;
}
a {
    /* color: #EB6864; old red*/
    color:#3b3163;
}
a:hover {
    /* color: #934442; old red*/
    color: #62588a;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 5px solid #eee;
}

/************buttons************/
.btn-tan {
    color: #4d4141;
    background-color: #ead7c5;
    border-color: #ead7c5;
}
.btn-tan:hover {
    color: #4d4141;
    background-color: #EDDECF;
    border-color: #EDDECF;
}
.btn-brown {
    color: #fff;
    background-color: #4D4141;
    border-color: #4D4141;
}
.btn-brown:hover {
    color: #fff;
    background-color: #6D6363;
    border-color: #6D6363;
}
.btn-red {
    color: #fff;
    background-color: #EB6864;
    border-color: #EB6864;
}
.btn-red:hover {
    color: #fff;
    background-color: #EE8380;
    border-color: #EE8380;
}
.btn-grey {
    color: #fff;
    background-color: #8D7D7E;
    border-color: #8D7D7E;
}
.btn-grey:hover {
    color: #fff;
    background-color: #A19495;
    border-color: #A19495;
}
.btn-ltgrey {
    color: #4D4141;
    background-color: #D8CDCD;
    border-color: #D8CDCD;
}
.btn-ltgrey:hover {
    color: #4D4141;
    background-color: #DFD6D6;
    border-color: #DFD6D6;
}
.lowerRightBtn{
    position:absolute;
    right:10px;
    bottom:10px;
}
.controlBox{
    position: relative;
    padding-bottom: 40px;
}
.controlBox h4{

   background:#EAD7C5;
   color:#4D4141;
   padding:15px;
   margin:-19px -19px 15px -19px;
   border-bottom:3px solid #8D7D7E;

}
/*********navbar***************/
.navbar-default {
    background-color: #EB6864;
    border-color: #fff;
    padding: 0 60px;
}
.navbar-default .navbar-brand {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 22px;
}
.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-brand:hover {
    color: #F7C8C6;
}
.well {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 5px 1px #B8B8B8;
    box-shadow: 1px 1px 5px 1px #B8B8B8;
}
h1, h2, h3, h4, h4, h5{
    font-family: 'Rubik', sans-serif;
    color: #5f2d2d;
}

.contentWrapper .container {
    padding: 60px 0;
    min-height: 94vh;
}

.contentWrapper {
    padding-top: 40px;
    min-height: 94vh;
}

.contentWrapperSingle {
    padding-top: 40px;
    min-height: 94vh;
    background:#fff;
    padding:30px;

}
.contentWrapperSingle h1,
.contentWrapperSingle h2,
.contentWrapperSingle h3,
.contentWrapperSingle h4{
    font-family: 'Jura', sans-serif;
    font-weight:700;
}
.errorPage {
    margin-top: 10%;
    background: rgba(0, 0, 0, 0.7);
    padding: 60px 0;
    color: #fff;
}
.footerContainer {
    text-align: center;
    background-color: #d0d9d8;
    color: #8d7d7e;
    padding: 15px 0;
}
.navbar-brand {
    padding: 0;
}
.navbar-brand span {
    padding: 9px;
}
.navbar-brand>img {
    display: inline-block;
    padding: 5px;
}
.leftCol {

    padding: 15%;
}
.rightCol {
    border-left: 2px solid #ccc;
    padding: 15%;
}

.bg-success, .bg-primary, .bg-info, .bg-warning, .bg-danger {
    padding: 15px 30px;
}
label {
    padding-right:10px;
}
/* CHARTIST */
.ct-label.ct-horizontal.ct-end {
    -ms-transform: rotate(39deg);
    -webkit-transform: rotate(39deg);
    transform: rotate(39deg);
    position: relative;
    top: 14px;
    left: -8px;
    font-size: 1.5rem;
}
.ct-label.ct-vertical.ct-start{
    font-size: 1.5rem;
}


.img-thumbnail {
    width: 150px;
    height: auto;
}

/********pulsing save button***********/
@keyframes pulse {
  0% {
    background-color: #4d4141;


  }
  100% {
    background-color: #7D7474;

  }


}


.userDashboardHeader{
    position:relative;
    max-height:300px;
    padding-bottom:300px;
    overflow: hidden;
    border:5px solid #fff;
    -webkit-box-shadow: 2px 2px 30px 0 #A3A3A3;
    box-shadow: 2px 2px 30px 0 #A3A3A3;
}
img.dashboard-header{
    width:100%;
    position: absolute;
    overflow: hidden;

}
.dashboard-header::after{
    content: '';
    border:5px solid #fff;
}
.userDashboardAvatar{
    position: absolute;
    width:200px;
    height:200px;
    border:3px solid #fff;
    bottom:15px;
    left:35px;
    /*padding:3px;*/
    -webkit-box-shadow: 0 0 20px 0 #000000;
    box-shadow: 0 0 20px 0 #000000;
    background: #fff;
}
img.dashboard-avatar{
    width:194px;
    height:194px;
    position: absolute;
    clip: rect(0px,194px,194px,0px);
    top: 0;
    left: 0;
    background:#fff;
}
img.affiliateDashboard-avatar{
    width:194px;
    height:auto;

    top: 0;
    left: 0;
    background:#fff;
}
.page-avatar{
    position: absolute;
}
.page-avatar img{
    position: absolute;
    width:194px;
    clip: rect(0px,194px,194px,0px);
    top: 0;
    padding-top:25px;
    left: 0;
}
.affilliatePageAvatar{
    position: relative;
   float: left;
   width:194px;
   height:194px;
   margin-right: 20px;
}
hr.thin-dark{
    border-top: 1px solid #ada4a4;
}
.affilliateBranding{
    padding-top:15px;
}
.sponsoredRegAbout{
    font-family: 'Jura', sans-serif;
    text-align: center;
    background:#4D4141;
    color:#fff;

}
.sponsored-reg-tagline{

    background-color:#fff;
    text-align: center;

}
.sponsored-reg-tagline h2{
    padding: 40px;
}
.sponsored-arForm,
.sponsored-reg-tagline,
.video-containerReg{
    min-height:40vh;
}
.video-containerReg{
    background:#EB6864;
}
.sponsored-arForm{
    background:#D8CDCD;
}
.sponsored-tagline{
    padding: 100px 60px 60px 60px;
    color:#fff;
}
.sponsoredRegAbout h1{

    color:#fff;
}
.sponsoredRegAbout h2{
    font-family: 'Jura', sans-serif;
    color:#fff;
}
.sponsoredRegAbout h3{
    font-family: 'Jura', sans-serif;
    color:#fff;
}
.sponsoredRegAbout h4{
    font-family: 'Jura', sans-serif;
    color:#fff;
}

.sponsoredRegRegister h2{
    font-family: 'Jura', sans-serif;
    color:#888;
}
.sponsoredRegRegister h3{
    font-family: 'Jura', sans-serif;
}
.sponsoredRegRegister h4{
    font-family: 'Jura', sans-serif;
}



#codeGen h2{
    font-family: 'Jura', sans-serif;

}
#codeGen h3{
    font-family: 'Jura', sans-serif;
}
#codeGen h4{
    font-family: 'Jura', sans-serif;
}







/*************Tiny MCE*************/
.userDashboardContent{
    position: relative;
}
.pageWrapper{
    margin:60px 0 100px 0;
}
#mceu_12,
.mce-btn {
    background-color: #F7F0E9!important;
}
#mceu_21{
    background-color: #fff!important;
}

.journalContent{
    padding-bottom:80px;
}
.connections h5,
.personal h5,
.contact li{
    color: #4D4141;
}
.connections h5{
    padding-left:30px;
    margin-top: 0;
    background: #ececec;
    padding: 5px 0 7px 15px;
}
ul.connections,
ul.journals,
ul.personal,
ul.contact,
ul.keyholders,
ul.keys,
ul.key-journal{
    list-style: none;
    padding-left: 0;
}
ul.key-journal a{
    font-size:18px;
}
ul.connections li span,
ul.personal li span,
ul.contact li span {
    margin-bottom:15px;


}
ul.connections li span{
    font-weight:700;
    font-size: 1.2em;
}
ul.connections li h5,
ul.personal li h5,
ul.contact li h5,
ul.journals li{
    font-weight:400;
    font-size:18px;

}

.imageInput{
    margin-bottom:15px;
}

.journalImageWrapper{
    width: 100%;
    border:1px solid #ddd;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}
.journalImageWrapper::before{
    content: "";
    display: block;
    padding-top: 100%;
}
.journalImage{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;

}
.imgageEditWrapper{
    position: relative;
}

.delete-image{
    position: absolute;
    bottom:0;
    right:0;
}
/********footer************/
.footerNavWrapper{

}
ul.footerNav{

    list-style: none;
}
.footerNav li{
    text-align: center;
    padding:0 10px;
    display: inline;
    text-transform: uppercase;
    font-size:14px;
}
.strong{
    font-style: italic;
    text-decoration: underline;
    text-transform: uppercase;
}
#privacyPage h4,
#termsPage h4{
    margin-top:40px;
}
#termsPage{
    padding-bottom:100px;
}
.vidBg{
    height:50vh;
    overflow: hidden;

}
.vidBg video{
    position: fixed;
    z-index: -1;
    top:-50vh;
}
.aboutContent{
    background:#fff;
}

.video-container {
    position: relative;
    padding-bottom: 54%;
    padding-top: 0;
    height: 0;
    overflow: hidden;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-containerReg iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

h1.aboutTagline{
    color:#fff;
    position: absolute;
    text-align: center;
    width:100%;
    font-size:3em;
    line-height: 50vh;
    vertical-align: middle;
}
.aboutTagline li{
    list-style: none;
    margin-bottom:30px;
    margin-left: 0;
}
ul.aboutTagline {
    margin:30px 0 0 -40px
;
}
/***********help page**********/
.qa-group{
    padding:15px;
    border-bottom:3px solid #8D7D7E;
}
.question{
    font-weight:700;
    font-style: italic;
    color:#4D4141;
    padding:0 0 0 35px;
    background-image: url(https://d12hpcyicmxkwr.cloudfront.net/bee-red.png);
    background-repeat: no-repeat;
    background-position:0 7px;
    background-size: 24px 24px;
    border:none;
}

.answer{
    font-weight:400;
    color:#8D7D7E;
    padding:0 0 0 70px;
    background-image: url(https://d12hpcyicmxkwr.cloudfront.net/answer.png);
    background-repeat: no-repeat;
    background-position:40px 9px;
    background-size: 20px 20px;
    border:none;
    opacity:0.7;
}


.form-container{
    max-width: 550px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.form-container300{
    max-width:300px;

    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.form-control2 {
    display: block;
    width: 100%;
    height: 28px;
    text-align: center;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 18px;
    color: #F00;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/***********admin**************/
.ct-chart{
    width:100%;
    height:300px;
}

div.ct-chart > svg.ct-chart-line{
    overflow: visible;
}

.affiliateListing{
    position: relative;
    min-height:365px;
    margin:0px;
    background:#fff;
    -webkit-box-shadow: 2px 4px 30px 0 #8d7d7e;
    box-shadow: 2px 4px 30px 0 #8d7d7e;
}
.topHero{
   height:100vh;
   background: url(https://d2f9vhb426scp3.cloudfront.net/red-clock-ages.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.HeroAction{

    padding:10%;

}

.HeroAction h1{
    color:#fff;
    font-size:50px;
}
.HeroAction h2{
    color:#fff;
    font-size:50px;
    font-family: 'Jura', sans-serif;
}
.HeroAction h3{
    color:#fff;
    font-size:40px;
    font-family: 'Jura', sans-serif;
}
.HeroAction h4{
    color:#fff;
    font-size:20px;
    font-family: 'Jura', sans-serif;
}
.HeroAction p{
    color:#fff;
    font-family: 'Jura', sans-serif;
}
.HeroAction button{
    margin:5px;
}
.copyrightFooter{
    font-size:12px;
    text-align:center;
    color:#eee;
}
.no-button{
    background:transparent;
    border:none;
}
.btn {
    text-transform: uppercase;
    
    font-family: 'Jura', sans-serif;
}
.btn-home {
    color:#fff;
     background-color: transparent;
    border-color: #fff;
    font-weight:700;
    font-size:20px;
    text-transform: uppercase;
    margin-top:15px;
    padding:15px 35px;
}
.btn-home:hover {
    color:#8d7d7e;
    background-color: #fff;
    border-color: #ccc;
}


/* Tooltip container */
.tooltip {
    position: relative;
    display: block;

}
.test + .tooltip.bottom > .tooltip-arrow {
      border-bottom: 5px solid blue;
}
.navIcons{
    height: 18px;
    width: 20px;
}
a img.navIcons:hover{
    opacity: 0.8;
}
.navbar-default .navbar-text {
    color: #fff;
}
.dash-nav{position: relative;
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    margin-left: 15px;
}
.leadWrapper{
    position: relative;
    background:#fff;
    padding:15px;
    margin-bottom:30px;
}

.dashboardContactDate{
    position: absolute;
    bottom:10px;
    right:10px;
    background:#ddd;
    padding:2px 8px;
}
.dasboardRightSide{
    padding:60px;
    background: #fff;
}
.dasboardLeftSide{
    border-left:3px solid #ddd;
    padding:30px;

}
.spc20{
    margin:10px 0;
}

.spc40{
    margin:20px 0;
}
.spc80{
    margin:40px 0;
}
.img-directory{
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    overflow: hidden;
    top: 0;
    padding: 15px;
}
.listingBody{
    text-align: center;
    padding: 15px;
    position: absolute;
    width: 100%;
    bottom: 10px;
    font-family: 'Jura', sans-serif;
}
.listingBody h3,
.listingBody h4{
    font-family: 'Jura', sans-serif;
    font-weight:700;
}
.listingBody h3 a{
    color:#777;
}
.listingImage{
    background: #ffffff;
    position: relative;
    height: 200px;
    overflow: hidden;
}
.searchWrap{
    padding:10px;
    background:#fff;
    margin:-30px;
}
.affiliate-search-form > .form-group > input.form-control{
    border-bottom:1px solid;
    border-color:#eee;
}
input.form-control .affiliate-search-box{
    color:#ddd;
}


span.gc-cs-link {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Jura', sans-serif;
    font-weight:400;
}
.affiliate-profile-form-edit{
    position:absolute;
    top:0;
    right:0;
    z-index:5;
}
.no-results{
    text-align:center;
}
.alert {
    padding: 12px;
    border-radius: 0;
    -moz-border-radius: 0;
}
.old-challenges{
    background:#ddd;
    padding:60px 0;
    background: url(https://d2f9vhb426scp3.cloudfront.net/old-sales-bg2.jpg) no-repeat center top fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  margin-top:60px;
  margin-bottom:30px;
}
.old-challenges h3{
    color:#fff;
}
.padded30{
    padding:30px;
}
.brownBox{
    background-color: #8d7d7e;
    color:#fff;
    padding:15px;
    margin-bottom: 30px;
}
.brownBox h3{
    color:#fff;
}

.sales-bottom{
    background:#ddd;
    padding:360px 0;
    background: url(https://d2f9vhb426scp3.cloudfront.net/o-father-son-talking.jpg) no-repeat center bottom fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  margin-top:60px;
  min-height:350px;


}
.well2{
    background-color: rgba(255, 255, 255, 0.63);
    border: 0px ;
    padding:30px 0;
}
.container300{
    max-width: 300px;
    margin:0 auto;
}
.container350{
    max-width: 350px;
    margin:0 auto;
}
.mce-primary button, .mce-primary button i {
    background:#777;
}

.tiny-description {
    font-style: italic;
    font-size: 14px;
}




.navbar-toggle {
    position: relative;
    float: right;
    padding: 6px;
    margin-top: 10px;
    margin-right: 0px;
    margin-bottom: 0;
    background-color: #fff;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 2px;
}
.navbar-default .navbar-toggle {
    border-color: #fff;
}
ul.contact img,
.dashIcon{
    width:24px;
    height:24px;
    margin-right:10px;
}
ul.contact li{
    line-height: 30px;
}
.bee-bullets{
    height:20px;
    width:20px;
    margin-right:15px;
}
.Jura{
    font-family: 'Jura', sans-serif;
}



.form-control {
    display: block;
    width: 100%;
    margin:12px 0;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-image: none;
    border: none;
    border-bottom: 2px solid #ccc;
   /*  -webkit-box-shadow: 1px 1px 5px 1px #B8B8B8;
    box-shadow: 1px 1px 5px 1px #B8B8B8; */
    /* background: #f7f7f7; */
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 15px;
}
input[type="radio"].form-control {
    display: inline;
    width:auto;
    vertical-align: top;
    border: 0px;
    width: 20px;
    height: 2em;
}
.form-control:focus {
    border-bottom: 2px solid #EB6864;

    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: 1000ms;
}

input.input-style {
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #555;
    background-color: transparent;
    background-image: none;
    border: none;
    border-bottom: 2px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
ul.inline-month-year{
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;

}
ul.inline-month-year li{
    display: inline;
}
.affiliate-profile-form{
    padding-top:40px;
     padding-bottom:100px;
     border-bottom:3px solid #ddd;
     margin-bottom:60px;
}
.searchResultBox{
    padding:15px;
    margin-bottom:60px;
}

.rightSideAbout h2{
    color: #fff;
}
.rightSideAbout{
    padding:3%;
    color: #fff;

}

.leftSideAbout{
    padding:7%;

}
.aboutHeader{
    background: url(https://d2f9vhb426scp3.cloudfront.net/bespeek-about-right-bg2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.rightSideAbout{
    padding:6% 8%;
    font-size: 1.2em
}
img.aboutIcon{
   margin-right: 30px;
    height: 64px;
    width: 64px;
    float: left;
}
.navatar {
    float: right;
}
.navatar img{
    height: 36px;
    width: 36px;
    border-radius: 100px;
    margin: 8px 20px 0;
}
.loginPanel{
    width: 250px;
    background: #EB6864;
    z-index: 99;
    position: absolute;
    top: 50px;
    right: 40px;
    border-radius: 0 0 8px 8px;
    float: right;
}
.loginPanel input{
    background:#fff;

}
.panel-transparent {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid transparent;
}
.loginPanel form{
    padding: 20px 15px 0px 15px;
}
li.navatar > a{
   padding: 0;
}
.panelLogin{
    padding: 15px;
    background: rgb(255, 255, 255);
    border-radius: 8px;
}
#bespeek_affiliate_link {
    right: 0px;
    bottom: 0;
    position:relative;
}
.indicates-required{
    text-align: right;
    color:#ababab;
    font-style:italic;
}
.input-error, .input-error:focus {
    border: solid 1px red;
    box-shadow: 5px 5px 3px #888888;
}

.affiliateFakeDashboard {
    background: url("/affiliatemenubg.png") no-repeat center center fixed;
    height: 100vh;
}

.fake-dashboard-modal {
    width: 40vw;
    height: 40vh;
    background-color: #F7F0E9;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
}

.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.margin-top-25 {
    margin-top: 25px;
}
.instructions{
    background: #fafafa;
    padding: 5px;
    margin-bottom: 30px;
    border-bottom: 2px solid #bbb;
    border-top: 2px solid #bbb;
    font-style: italic;
    font-family: 'sans', sans-serif;
    font-size: 14px;
    color: #777;
    text-align: center;
}
.instructions p{
    font-size:0.85em;
    padding-left:80px;
}
.instructions p:first-child{
    background-image: url(https://d2f9vhb426scp3.cloudfront.net/icons/bee-red.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 40px;
    padding-bottom: 10px;
}
.instructions ul,
.instructions ol{
    font-size:0.85em;
    padding-left:120px;

}
.nolistStyle{
    list-style: none;
}
/************final wishes form styles*********/
.showWrapper{
    padding:30px 0;
}

.lastWishesShowWrapper{
    margin:30px 0;
    border-bottom:3px solid #ddd;
    border-top:3px solid #ddd;
    padding:5px 15px;
    background: #fff;
}

.lastWishesShow{
    padding:5px 15px;
    background: #fff;
    margin:10px 0;
}
lable{
    font-weight: 700;
    color: #883232;
}
label{
    font-weight: 700;
    color: #883232;
}
.form-output {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    color: #333;
    background: #fff;
    margin: 10px 0;
    position:relative;
}
.form-output label{
    position:absolute;
    top:0;
    left:0;
    background:#eee;
    border-bottom: 5px solid #bbb;
    padding:0 15px;
    width: 100%;
}




/************media queries***************/
@media (min-width: 768px){
    .container, .container-sm, .container-md {
        max-width: 991px;
    }
}

@media screen and (min-width: 1620px) {
    .rightSideAbout{
        padding:6% 8%;
        font-size: 1.2em
    }
}
@media screen and (min-width: 991px) {
    .nogutter {
        padding-left: 0;
        padding-right: 0;
    }
    .nogutterLeft {
        padding-left: 0;

    }
    .nogutterRight {

        padding-right: 0;
    }


}

@media screen and (max-width: 1300px) {
    .sponsored-reg-tagline h2 {
        padding: 20px;
    }
    .btn-home {
        margin-top: 15px;
        padding: 5px 15px;
    }
    .rightSideAbout{
        padding:5%;
        font-size: 1em
    }
}


@media screen and (max-width: 992px) {
    .sponsored-arForm,
    .sponsored-reg-tagline,
    .video-containerReg{
        min-height:0;
    }
    .video-containerReg {
        position: relative;
        padding-bottom: 54%;
        padding-top: 0;
        height: 0;
        overflow: hidden;

    }
    .btn-home {
        margin-top: 15px;
        padding: 5px 15px;
    }


}

@media only screen
and (max-device-width:480px)
and (-webkit-min-device-pixel-ratio:2)
and (orientation:portrait) {
    .ct-label.ct-horizontal.ct-end {
        -ms-transform: rotate(39deg);
        -webkit-transform: rotate(39deg);
        transform: rotate(39deg);
        position: relative;
        top: 14px;
        left: -8px;
        font-size: 1.1rem;
    }
    .HeroAction h1 {
       font-size: 34px;
    }
    .HeroAction h3 {
       font-size: 24px;
    }
    .HeroAction h4 {
       font-size: 14px;
   }
   .HeroAction {
        padding: 7% 15%;
    }
}

@media screen and (max-width: 767px) {
    .dashboard-avatar{
        width:auto;
        height:150px;
    }
    .affilliateDashboardBranding h3,
    .affilliateDashboardBranding h2{
        text-align: center;
    }
    ul.contact img,
    .dashIcon{
    width:32px;
    height:32px;
    margin-right:10px;
    }

}

@media screen and (max-width: 480px) {
    ul.contact img,
    .dashIcon{
        width:20px;
        height:20px;
        margin-right:10px;
    }
    ul.contact li a{
        font-size:12px;
    }
    ul.contact li{
    line-height: 60px;
    }
    .navatar img{
        display: none;
    }
    .loginPanel{
        width:100%;
        background:transparent;
        position: relative;
        top:10px;
        padding-bottom:20px;
        right:15px;
        left:0;
        float: none;

    }
}