@import "./variables.scss";

/*buttons*/
button.use-image {
	font-size:0;
	height:40px;
	width:40px;
	background:transparent;
	border:none;
	margin:15px;
}

button.use-image:hover {
	background-color:transparent;
	cursor:pointer;
	opacity:0.6;
	transition: .5s ease-in-out;
}

button.submit{
	background-image: $checked;
	background-repeat: no-repeat;
  background-size: 40px 40px;
}

button.new-question{
	background-image: $refresh;
	background-repeat: no-repeat;
  background-size: 40px 40px;
}

button.close-question, button.close-modal{
	background-image: $cancel;
	background-repeat: no-repeat;
  background-size: 40px 40px;
}
.button-control-panel{
	margin: 30px auto 0;
  display: block;
  text-align: right;
  .hidden {
  	display: none;
  }
}

button.editIcon{
    background-image: url(https://d12hpcyicmxkwr.cloudfront.net/edit.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    height:40px;
    width:40px;
    border:none;
    background-color: rgba(108, 117, 125, 0);

}
button.editIcon:hover{
    opacity:0.5;
    background-color: rgba(108, 117, 125, 0);
    
}
button.right{
    float: right;
    margin: 15px 0 15px 0;
}
button.left{
	float: left;
    margin: 15px 15px 15px 0;
}
.tog{
	cursor:pointer;
}





/*tablets and smaller*/
@media (max-width: $breakpoint-tablet) { 

  button.editIcon {
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
  button.close-question{
    background-size: 30px 30px;
    height: 30px;
    width: 30px;
  }
  button.use-image {
    height: 30px;
    width: 30px;
  }
  button.submit,
  button.new-question {
    background-size: 30px 30px;
  }
}

/*main styles*/
.mainwrapper {
	> .app.content-main {
  	  // background: url(https://d12hpcyicmxkwr.cloudfront.net/geo-bg.jpg) no-repeat center center fixed;
  	  background:#fff;
	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
	  padding-bottom:100px;
	}
}
p {
	color: #333;
    font-size: 16px;
    margin-bottom: 30px;
}
.content-main{
	
}
.pagetitle{
	text-align: right;
	color:#fff;
}
.flex-header{
	display: flex; 
	justify-content: space-between;
	margin-bottom: 30px;
	flex-direction: column;
}
h1, .h1 {
    font-size: 2rem;
    font-weight:200;
}
.bg-white{
	padding:10px;
	background:#fff;
}
.app.container.content-main {
	> .content-children {
		&.children-loading {
			display: none;
		}
	}
	> .bespeek-layout-load {
		text-align: center;
		background: url(https://bespeek-assets.s3-us-west-1.amazonaws.com/bespeek-loader.gif) no-repeat center center fixed #e0cfcf;
	    width: 100%;
	    height: 50vh;
	}
}

.flexrow{
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;

}
.flexrow-half{
  width: 50%;
  
}
/* .flexrow p{
	padding:0 30px;
} */

.mainwrapper{
	height:100px;
	background:#eb6864;
}
.home-cta{
	position: absolute;
  	width: 100%;
    padding:10% 5%;
    text-align: left;
}
.home-cta p{
	color:#fff;
	display: block;
	font-size:30px;
	font-weight:300;
	text-align:left;
}
.btn-home-hero{
	color:#fff;
	border:5px solid #fff;
	background:transparent;
	padding:15px 30px;
	font-size:30px;
	text-transform:uppercase;
}
.btn-home-hero:hover{
	color:#888;
	background:#fff;
	border:5px solid #fff;
	padding:15px 30px;
	font-size:30px;
	text-transform:uppercase;
	transition: 300ms;
}
.branding-container{
	display: flex;
}
.footer-wraper{
    background-color: #7d6167;
	padding:30px 0;
	color:#eee;
}
.content-children{
	min-height:100vh;
}
.home-hero{
	position:absolute;
	top:100px;
	left:0;
	right:0;
	width:100%;
	z-index:0;
}
.home-hero img.home-hero-bg{
	width:100%;
	height:auto;
}
img.btn-home-hero-logo{
	height:40px;
	width:40px;
	margin-right:15px;
}


.vid-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 0;
	height: 0;
	overflow: hidden;
	margin-bottom:30px;
	}
	.vid-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
.button-show img{
	width: 360px;
    height: 120px;
}
.app.content-main > .flex-header{
	width:100%;
	background:#eb6864;
	padding: 30px 60px;
}
.popbox{
	// background: #f7f6ec;
	background: #fff;
	margin-bottom:15px;
	padding:15px;
	-webkit-box-shadow: 2px 2px 10px 0 #C9C9C9;
	box-shadow: 2px 2px 10px 0 #C9C9C9;
}


.off-canvas-extra .popbox{
	-webkit-box-shadow:none;
	box-shadow: none;
}




/*tablets up to laptop*/
@media (min-width: $breakpoint-tablet) {
	.home-cta{
		width: 100%;
		padding:5% 10% ;
		text-align:left;
	}
	.home-cta p{
	font-size:30px;
	}
	.flex-header{
		flex-direction: row;
	}
}
/*laptop up to desktop*/
@media (min-width: $breakpoint-laptop)  {
	.home-cta{
		width: 80%;
		padding:5%;
		text-align:left;
	}
}
/*desktops*/
@media (min-width: $breakpoint-desktop) {
	.home-cta{
		width: 50%;
		padding:7% 0 10% 10%;
		text-align:left;
	}
}




/*tablets and smaller*/
@media (max-width: $breakpoint-tablet) { 
	.home-hero img.home-hero-bg {
		display: none;
	}
	.home-cta{
		background: #556270;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to top, #FF6B6B, #556270);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to top, #FF6B6B, #556270); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		padding:60px 15px 100px;
		top:40px;
		text-align: center;
	}
	.home-cta p{
		text-align: center;
	}
	.btn-home-hero{
		display: block;
	}
	.mainwrapper {
	    height: 140px;
	    
	}
	.branding-container{
		justify-content: center;
		top:30px;
	}

	header{
		position:absolute;
		top:80px;
		left:0;
		right:0;
	}
	#collapse-main-nv{
		margin: 0 auto;
    	width: 100px;
	}
	.content-children {
    	margin-top: 100px;
	}
	
	.flexrow{
		flex-direction: column;
	}
	.flexrow-half {
    	width: 100%;
	}
	.profile-item {
    	width: 100%;
	}
	.flexthird {
    	width: 100%;
	}

	.app.content-main .flex-header{
		padding-left:0px;
		padding-right:0px;
	    height: 140px;
	}
	.bg-white {
    	padding: 10px;
	}
	.flexrow p{
		padding:0;
	}	

}

.material-icons {
  font-family: 'Material Icons';
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}