$assets: "https://d12hpcyicmxkwr.cloudfront.net";

$geobg: url('#{$assets}/geo-bg.jpg');

/*icons*/
$cancel: url('#{$assets}/cancel.png');
$checked: url('#{$assets}/checked.png');
$close: url('#{$assets}/close.png');
$refresh: url('#{$assets}/refresh-1.png');

/* viewport variables */
$breakpoint-desktop: 1300px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;