.bespeek-tooltip-holder {
	> .tooltip-inner {
	    max-width: 200px;
	    padding:  0.5rem;
	    color: #fff;
	    text-align: center;
	    background-color: #eb6864;
	    border-radius: 0.25rem;
	}
	  .arrow::before {
		border-right-color:#eb6864;
	}
}

span.bespeek-tooltip{
	font-size:16px;
	font-weight: 700;
	background:#eb6864;
	color:#fff;
	border:2px solid #eb6864;
	/*height:100%;*/
	/*width:32px;*/
	padding:2px 10px 0;
	display: inline-block;
	line-height:28px;
	margin:0 5px;
	vertical-align: middle;
	border-radius:300px;
	text-align: center;
	transform: scale(0.6); 
	cursor: pointer;
}
span.bespeek-tooltip:hover{
	opacity:0.6;
	transition:500ms;
}
