.connections {
	&.show-add-connection {
		> .add-connection {
			display: none;
		}
	}
	> .connection-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		border-bottom:1px solid #ddd;
		> .email {
			line-height:60px;
		}
		> .delete {
			
		}
	}
}
.space-between{
	display: flex;
	justify-content: space-between;
}
.keys-section{
	margin-top:60px;
}
.add-connection-field{
	width:100%;
	margin-bottom:30px;
	position: absolute;
    background: #fafafa;
    width: 400px;
    padding: 15px;
    border: 3px solid #777;
    -webkit-box-shadow: 3px 3px 30px 0 #333;
    box-shadow: 3px 3px 30px 0 #333;
    transition:300ms;
	z-index:999;
	>.input-group.mb-3{
		
	}
}
.topright{
	position:absolute;
	right:0px;
	top:0px;
	// z-index:2;
	transform: scale(0.6); 
	>.use-image{
		margin:0;
	}
	
}