/* viewport variables */
$breakpoint-desktop: 1300px;
$breakpoint-laptop: 992px;
$breakpoint-tablet: 768px;

.profile-data{
	width:380px;
	float:left;
}
.profile-connections{
	width: calc(100% - 380px);
	float:right;
}
.profile{
	width:100%;
	float:none;
	clear: both;
}

.sponsorInfoWrapper{
	display: flex;
	justify-content:space-between;
	text-align: left;
	padding:15px 30px;
}
.sponsorInfoWrapper h3{
	margin-top:15px;
	font-size:1.2rem;
	font-weight:300;
}
.sponsorInfoWrapper .logo img{
	display: block;
	margin:0 auto;
	height:150px;
	width:auto;
}
.sponsor-banner{
	padding:0 10px;
	margin:15px auto 30px;
}
.sponsor-info.name{
	font-size:36px;
	font-weight:700;
}



/*tablets and smaller*/
@media (max-width: $breakpoint-tablet) { 

	.profile-item {
    	width: 100%;
	}
	.sponsorInfoWrapper{
		flex-direction:column;
	}
	
}