@import '../../../Layout/variables.scss';

.admin-question-editor {
	padding:30px;
	margin:30px auto;
	position:absolute;
	top:30px;
	background:#ddd;
	right:0;
	width:600px;
}
.possible-answers{
    border: 1px solid #808080;
    background: #f1f1f1;
    margin-bottom: 30px;
    padding: 15px;

}
.input-group-text {
    display: flex;
    align-items: center;
    height: 34px;
    padding: 6px 12px;
    font-size: 18px;
    line-height: 1.42857143;
    color: #495057;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: none;
    border-radius: 0rem;
    border-bottom: 2px solid #ccc;
    -webkit-box-shadow: 1px 1px 5px 1px #B8B8B8;
    box-shadow: 1px 1px 5px 1px #B8B8B8;
}