.bespeek-off-canvas-overlay {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index:9;
	border-right: solid 3px white;
	backdrop-filter: blur(5px) grayscale(0.75);
	background: rgba(255, 255, 255, 0.35);
	display: none;
	&.open {
		display: block;
	}
	> .bespeek-off-canvas {
		position: absolute;
		top: 0px;
		padding-top:30px;
		width: 300px;
		height: 100vh;
		left: -300px;
		background-color: #7d6167;
		overflow: hidden;
		&.open {
		    -webkit-animation: 200ms slide forwards;
		    animation: 200ms slide forwards;
		}
	}
}

@-webkit-keyframes slide {
	from {left: -300px;}
    to { left: 0px; }
}

@keyframes slide {
	from {left: -300px;}
    to { left: 0px; }
}