.company-info{
	display:flex;
	flex-direction: column;
}


.sponsor-info-container{
	position: relative;
}
.close-button{
    position: relative;
    left: 15px;
}
.company-edit{
	position: absolute;
	right:30px;
	bottom:30px;
}
.company-save{
	position: absolute;
	right:30px;
	bottom:30px;
}


.company-info-col span{
	font-weight: 700;
}
.company-info-editor input{
	margin:5px;
	padding:0 10px;
	width:100%;
	display:block;
}
.logo{
	
	padding-right:30px;
	border-right:10px solid #eee;
}
.logo img{
	max-width:100%;
}
.flex{
	display: flex;
	align-items: stretch;
}
.flex span{
	flex-basis:50%;
	padding: 3px 10px;
}
.company-name{
	margin-bottom:15px;
}
.dashboard{
	margin-bottom: 100px
}