.off-canvas-extra {
	.profileWrapper{
		
		text-align:center;
	}
	.profilePic {
			width:100%;
			height:auto;
			margin-bottom:30px;
			> img {
				width: 100%;
    			height: auto;
		}
	}
	.user-full-name{
		

	}
}

.profile-data {
	> .profileWrapper {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		.profilePic {
			width:100%;
			height:auto;
			position: relative;
			margin-top:30px;
			> img {
				width: 100%;
    			height: auto;
			}
			> .close-question {
				display: none;
			}
			
		}
		.user-data {
			width:100%;
		    position: relative;
			> .close-question {
				display: none;
			}
		}
	}
}
.edit-user{
	width:100%;
	margin-bottom:30px;
	position: absolute;
    background: #fafafa;
    width: 400px;
    padding: 15px;
    border: 3px solid #777;
    -webkit-box-shadow: 3px 3px 30px 0 #333;
    box-shadow: 3px 3px 30px 0 #333;
    transition:300ms;
	z-index:999;
}
.edit-pic{
	margin-bottom:30px;
    position: absolute;
    background: #fafafa;
    width: 400px;
    padding: 15px;
    border: 3px solid #777;
    -webkit-box-shadow: 3px 3px 30px 0 #333;
    box-shadow: 3px 3px 30px 0 #333;
    transition:300ms;
	z-index:999;
}

.topright.use-image{
	position:absolute;
	right:0px;
	top:0px;
	// z-index:2;
	transform: scale(0.6); 
	margin:0;
}