
.form-title {
  text-align:center;
}
.new-partner{
	padding:30px;
	background:#fff;
	max-width:600px;
	margin:0 auto;
}
.reg-wrap{
	padding-top:30px;
}
.form-space{
	height:80px;
}
.form-section-title{
	background:#5f2d2d;
	color:#fff;
	margin:90px 0 30px 0;
	padding:3px 15px;
	text-align: center;
}
.form-section-title:first-of-type {
	margin:0px 0 30px 0;
}